<div class="event-container">
    <div class="event-img-container">
        <img class="event-img" src="{{event.data.image}}">
    </div>
    <p class="event-info"> 
        {{event.data.description}}
    </p>
    <button class="event-btn">
        <a href="{{event.data.eventLink}}" target="_blank">Learn More</a>
    </button>
</div>