<div class="event-container">
    <div class="event-img-container">
        <img 
        class="event-img" 
        src="{{event.data.image}}"
        alt="{{event.data.imageAlt}}"
        >
    </div>
    <p class="event-info"> 
        {{event.data.description}}
    </p>
    <a class="event-btn" href="{{event.data.eventLink}}" target="_blank">
        <button>
            Learn More
        </button>
    </a>
</div>