<header>
        <!-- Logo -->
        <p class="main-logo">DARMSTADT STARTUP GROUP</p>
        
        <!-- Hamburger icon -->
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <!-- Site Navigation -->
        <nav>
            <ul id="nav-items">
                <li><a href="#companies">COMPANIES</a></li>
                <li><a href="#city">CITY</a></li>
                <li><a href="#events">EVENTS</a></li>
                <li><a href="#jobs">JOBS</a></li>
            </ul>
        </nav>
</header>