<header>
        <!-- Logo -->
        <a class="main-logo" href="{{ '/' }}">TECH STARTUP ALLIANCE DARMSTADT</a>
        
        <!-- Hamburger icon -->
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <!-- Site Navigation -->
        <nav>
            <ul id="nav-items">
                <li><a class="{{ 'active' if '/#companies' == page.fileSlug }}" href="/#companies">COMPANIES</a></li>
                <li><a a class="{{ 'active' if '/#cities' == page.fileSlug }}" href="/#city">CITY</a></li>
                <li><a a class="{{ 'active' if '/#events' == page.fileSlug }}" href="/#events">EVENTS</a></li>
                <li><a a class="{{ 'active' if '/#jobs' == page.fileSlug }}" href="/#jobs">JOBS</a></li>
            </ul>
        </nav>
</header>