<div class="job-container">
    <div class="job-title">{{job.data.role}}</div>
    <a class="job-btn" href="{{job.data.jobLink}}" target="_blank">
        <button>
            Learn More
        </button>
    </a>
</div>