{% set intro = collections.intro[0] %}

<div class="img-container" id="city-img">
        <img src="{{ intro.data.image }}" alt="{{ intro.data.imageAlt }}">
</div>

<div class="sbs-container" id="city-info">
    <h1>{{ intro.data.title }}</h1>
    <p>{{ intro.data.paragraph }}</p>
    <a href={{ intro.data.cityLink}}><button class="sbs-btn">{{ intro.data.buttonText }}</button></a>
</div>