{% set intro = collections.intro[0] %}

<picture class="img-container" id="city-img">
     <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{{ intro.data.image }}">
     <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="{{ intro.data.image }}">
    <img loading="lazy" decoding="async" src="{{ intro.data.image }}" alt="{{ intro.data.imageAlt }}">
</picture>

<div class="sbs-container" id="city-info">
    <h2>{{ intro.data.title }}</h2>
    <p>{{ intro.content | safe }}</p>
    <a href="{{ intro.data.cityLink }}"><button class="sbs-btn">{{ intro.data.buttonText }}</button></a>
</div>