{% set hero = collections.hero[0] %}

<div class="sbs-container" id="hero-info">
    <h1>{{hero.data.title}}
    </h1>
    
    <p>
        {{ hero.content | safe }}
    </p>

    <a href="{{ hero.data.link }}"><button class="sbs-btn">{{ hero.data.buttonText}}</button></a>
</div>


<div class="cs-wrapper">
    <ul class="cs-card-group">
        <li class="cs-item">
            <h3 class="cs-h3">
                <picture class="cs-picture">
                    <img class="cs-icon" aria-hidden="true"
                    src="assets/svgs/people.svg" alt="people icon"
                    width="58" height="50" loading="lazy" decoding="async">
                </picture>
                {{ hero.data.stat1Title }}
            </h3>
            <span class="cs-number">{{ hero.data.stat1Number }}</span>
            <p class="cs-item-text">
                {{ hero.data.stat1Para }}
            </p>
        </li>
        <li class="cs-item">
            <h3 class="cs-h3">
                <picture class="cs-picture">
                    <img class="cs-icon" aria-hidden="true"
                    src="assets/svgs/briefcase.svg" alt="briefcase icon"
                    width="58" height="50" loading="lazy" decoding="async">
                </picture>
                {{ hero.data.stat2Title }}
            </h3>
            <span class="cs-number">{{ hero.data.stat2Number }}</span>
            <p class="cs-item-text">
                {{ hero.data.stat2Para }}
            </p>
        </li>
        <li class="cs-item">
            <h3 class="cs-h3">
                <picture class="cs-picture">
                    <img class="cs-icon" aria-hidden="true"
                    src="assets/svgs/linegraph.svg" alt="line graph icon"
                    width="58" height="50" loading="lazy" decoding="async">
                </picture>
                {{ hero.data.stat3Title }}
            </h3>
            <span class="cs-number">{{ hero.data.stat3Number }}</span>
            <p class="cs-item-text">
                {{ hero.data.stat3Para }}
            </p>
        </li>
        <li class="cs-item">
            <h3 class="cs-h3">
                <picture class="cs-picture">
                    <img class="cs-icon" aria-hidden="true"
                    src="assets/svgs/graph.svg" alt="graph icon"
                    width="58" height="50" loading="lazy" decoding="async">
                </picture>
                {{ hero.data.stat4Title }}
            </h3>
            <span class="cs-number">{{ hero.data.stat4Number }}</span>
            <p class="cs-item-text">
                {{ hero.data.stat4Para }}
            </p>
        </li>
    </ul>
</div>