---
title: Impressum | Tech Startup Alliance
layout: 'base.njk'
permalink: '/impressum/'
---

<section class="impressum">
    <h1>Impressum</h1>

    <h2>Verantwortlich im Sinne des TMG:</h2>

    <h3>Heiner Capital GmbH | Holzhofallee 21 | 64295 Darmstadt</h3>

    <h3>kontakt-datenschutz@heinercapital.com</h3>

    <h3>Geschäftsführer: Dr. Max Limper</h3>

    <h3>Amtsgericht Darmstadt | HR-Nr: HRB 106621</h3>
</section>