---
title: Tech Startup Alliance
layout: 'base.njk'
permalink: '/'
---

<section class="side-by-side">
    
{% include 'sections/hero.njk' %}

</section>

<section class="side-by-side">

{% include 'sections/city-intro.njk' %}
    
</section>

<!-- STARTUPS -->

<section class="startup-section" id="companies">
    <h2 class="startup-title">Member Startups</h2>
    <div class="startups">
        {%- for startup in collections.startup | reverse -%}
            {% include 'startup.njk' %}
        {%- endfor %}
    </div>
</section>

<!--CITY SECTION -->

{% include 'sections/city.njk' %}

<!-- EVENTS -->

<section class="events-section" id="events">
    <h2 class="events-title">Events</h2>
    <div class="events">
        {%- for event in collections.event | reverse -%}
            {% include 'event.njk' %}
        {%- endfor %}
    </div>
</section>

<section class="jobs-section" id="jobs">
    <h2>Jobs</h2>
    <div class="jobs">
        {%- for job in collections.job | reverse -%}
            {% include 'job.njk' %}
        {%- endfor %}
    </div>
</section>