---
title: Tech Startup Alliance Darmstadt
layout: 'base.njk'
---

<section class="side-by-side">
    
{% include 'sections/hero.njk' %}

</section>

<section class="side-by-side">

{% include 'sections/city-intro.njk' %}
    
</section>

<!-- STARTUPS -->

<section class="startup-section" id="companies">
    <h1 class="startup-title">Member Startups</h1>
    <div class="startups">
        {%- for startup in collections.startup | reverse -%}
            {% include 'startup.njk' %}
        {%- endfor %}
    </div>
</section>

<!--CITY SECTION-->

<h1 class="city-title" id="city">Why Darmstadt?</h1>

{% include 'sections/city.njk' %}

<!-- EVENTS -->

<section class="events-section" id="events">
    <h1 class="events-title">Events</h1>
    <div class="events">
        {%- for event in collections.event | reverse -%}
            {% include 'event.njk' %}
        {%- endfor %}
    </div>
</section>

<section class="jobs-section" id="jobs">
    <h1>Jobs</h1>
    <div class="jobs">
        {%- for job in collections.job | reverse -%}
            {% include 'job.njk' %}
        {%- endfor %}
    </div>
</section>