:root {
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    --ff-heading: "Space Grotesk", sans-serif;
    --ff-body: "Inconsolata", monospace;
  
    --clr-primary-200: hsla(169, 70%, 95%, 1);
    --clr-primary-300: hsla(169, 100%, 39%, 1);
    --clr-primary-400: hsla(169, 100%, 26%, 1);
    --clr-primary-500: hsla(169, 100%, 16%, 1);
  
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-neutral-300: hsla(0, 0%, 50%, 1);
    --clr-neutral-400: hsla(0, 0%, 40%, 1);
    --clr-neutral-500: hsla(0, 0%, 60%, 1);
    --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

/* space-grotesk-700 - latin */
@font-face { 
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('assets/fonts/space-grotesk-v16-latin-700.woff2') format('woff2');
}

/* inconsolata-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/inconsolata-v32-latin-regular.woff2') format('woff2'); 
}
  
  /* inconsolata-700 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/inconsolata-v32-latin-700.woff2') format('woff2'); 
}
  
  

/* ----- RESET STYLES ----- */
*, *::before,
*::after {
    box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
    font-family: var(--ff-body);
    height: 100vh;
    line-height: 1.5;
    position: relative;
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-500);
    background-image: url('/assets/svgs/bg-graphic.svg'), url('/assets/svgs/bg-graphic-top.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;
    background-attachment: fixed, fixed;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
  font-family: var(--ff-heading);
  color: var(--clr-primary-400);
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

input, button,
textarea, select {
  font: inherit;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1.25em 0;
}

h2 {
    margin-top: 0;
}

p {
    margin-top: 1em;
}

header,
.stats-container,
button,
footer {
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-100);
}

.active {
    text-decoration: underline;
}

.main-logo {
    display: inline-block;
}

.startup-container,
.event-container,
.job-container {
    border: 1px solid transparent;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 590px;
    padding: 2em;
}

.startup-container:hover,
.event-container:hover,
.job-container:hover {
    border: 1.5px solid hsla(169, 100%, 39%, 1);
}

.startup-btn,
.job-btn,
.event-btn {
    margin: 2em auto auto;
}

header {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    margin: 0;
}

.side-by-side {
    display: flex;
    /*padding: 4em;*/
}

.cs-title {
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--clr-primary-400);
    position: relative;
}

.cs-text {
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--clr-primary-400);
}

.cs-card-group {
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: clamp(1rem, 2.75vw, 1.25rem);
    place-content: center;
}

.cs-item {
    border-radius: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    padding: clamp(1.25rem, 2.4vw, 1.5rem);
    list-style: none;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
}

.sbs-container {
    display: flex;
    flex-direction: column;
}

.sbs-container > p {
    margin-top: 0;
}

.sbs-container > a {
    margin-top: 1em;
}

a button {
    padding: 1em;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

a button:hover {
    color: var(--clr-primary-300);
}

.startup-container,
.event-container,
.job-container,
.city-img {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
}

.city-img,
#city-img {
    filter: drop-shadow(16px 16px);
}

.city-img {
    margin-bottom: 2em;
}

button,
.job-title {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav a,
a button,
footer a, a  {
    font-family: var(--ff-heading);
    color: var(--clr-neutral-100);
    text-decoration: none;
    cursor: pointer;
}

.stats-container {
    padding: 2em;
}

.stats {
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
    margin-top: 2em;
    bottom: 0;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
}

nav a,
footer a {
    font-size: 0.9rem;
    color: var(--clr-neutral-100);
}

#attribution {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

#cat-logo {
    border-radius: 0;
}

/* ----- NAVIGATION ----- */

nav a {
    padding: 0.85em 0;
    display: block;
}

label {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    padding: 0.3em 0.85em;
}

nav a:hover,
footer a:hover {
    color: var(--clr-primary-300);
}

.contact {
    display: flex;
}

/* ----- STARTUP SECTION ----- */

.logo, .slogan {
    align-self: center;
    object-fit: contain;
}
/* ----- CITY SECTION ----- */

img {
    width: 100%;
    border-radius: 1rem;
}

/* ----- EVENTS SECTION ----- */

.event-img-container {
    max-width: 90%;
}

.event-img-container,
.event-info {
    align-self: center;
}

/* ----- JOBS SECTION ----- */

.job-title {
    text-align: center;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-500);
    padding: 2em;
    border-radius: 5px;
}


/* ----- MEDIA QUERIES ----- */
@media (max-width: 934px) {
    main {
        min-height: 100vh;
    }

    .impressum {
        padding: 1em;
    }
    
    header {
        position: relative;
        top: 0;
        width: 100%;
        padding: 2.875em 0.5em;
    }

    .main-logo {
        margin-left: 1.5em;
    }

    nav {
        width: 100%;
        position: relative;
        background-color: var(--clr-primary-500);
        overflow: hidden;
        transition: max-height .3s ease-out;
    }
    
    #nav-items a {
        display: block;
        padding: 30px;
        color: var(--clr-neutral-100);
        border-top: 1px solid var(--clr-neutral-100);
    }

    #nav-items a:active {
        text-decoration: underline;
    }
    
    label {
        display: inline-block; 
        color: var(--clr-neutral-100);
        font-style: normal;
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 45px;
    }

    #nav-items,
    #hamburger {
        display: none;
    }

    #hamburger:checked ~ nav {
        max-height: 100%;
    }

    #hamburger:checked ~ nav #nav-items {
        display: block;
    }

    .side-by-side {
        flex-direction: column;
        gap: 2em;
        padding: 1em;
        margin: 0.5em;
    }

    .sbs-container > p, h1 {
        max-width: 65ch;
    }

    .stats-container {
        width: 100%;
    }

    .cs-card-group {
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.75vw, 1.25rem);
    }
    .cs-item {
        border-radius: 1rem;
        margin-left: 0;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        grid-column: span 12;
        /* 20px - 24px */
        padding: clamp(1.25rem, 2.4vw, 1.5rem);
        list-style: none;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
    }
    .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        margin: 0 0 1.25rem 0;
        color: var(--headerColor);
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .cs-picture {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: var(--primaryLight);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cs-icon {
        height: 2rem;
        width: auto;
    }
    .cs-number {
        display: block;
        margin: 0 0 0.75rem 0;
        font-size: 1.5625rem;
        font-weight: 700;
        color: var(--primary);
    }
    .cs-item-text {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.5em;
        color: var(--bodyTextColor);
    }
    .cs-background {
        z-index: -1;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 60%;
        width: 100%;
    }
    .cs-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .startup-section,
    .events-section,
    .jobs-section {
        padding: 1.5em;
    }

    .city-title {
        padding: 0.6em;
    }

    .jobs-section {
        margin-bottom: 3em;
    }

    .startups,
    .events,
    .jobs {
        margin-top: 0.8em;
    }

    .startup-container,
    .event-container,
    .job-container {
        max-width: 100%;
        margin-top: 1em;
    }
}

@media (min-width: 935px) {
    main {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 2em;
        min-height: 100vh;
    }
    
    nav label, #hamburger {
        display: none;
    }

    section {
        padding: 2.875em 0;        
    }
    
    header,
    nav ul {
        display: flex;
    }

    header {
        justify-content: space-between;
        align-items: center;
        padding: 2.875em 4em;
    }

    ul {
        gap: 2em;
    }
    
    
    nav li {
        margin-left: 1.25em;
    }
    
    .side-by-side {
        align-items: center;
        justify-content: space-around;
        gap: 2em;
        margin: 0 auto;
    }

    .sbs-container > button {
        width: 40%;
    }

    .sbs-container,
    .img-container,
    .stats-container {
        width: 50%;
    }

    #hero-info {
        padding-right: 4em;
    }

    .cs-wrapper {
        width: 52%;
        max-width: 39.375rem;
        /* sends it to the right */
        order: 1;
        position: relative;
    }
    .cs-item {
        grid-column: span 6;
        min-width: 270px;
    }
    .cs-background {
        height: 150%;
        width: 115%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .stats-container,
    #city-info {
        padding-left: 4em;
    }
    
    button {
        display: inline-block;
        margin-right: 0.5em;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    .subheading {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 1.125rem;
    }

    .city-img {
        width: 100%;
    }

    .startups,
    .events,
    .jobs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 3em;
    }

    .logo {
        width: 463px;
        height: 257px;
    }

    .city-title {
        padding: 0;
        margin-top: 4em;
    }
}

@media (max-width: 1445px) {
    .startups, .events, .jobs {
        margin: auto;
      }
}


